.table-container {
	position: relative;
	width: 530px;
	height: 330px;
}

.table-container .pot {
	position: absolute;
	width: 70px;
	left: 230px;
	bottom: 100px;
	text-align: center;
}

.single-seat {
	width: 70px;
	height: 70px;
	border: 1px #cdb solid;
	position: absolute;
	margin: 0;
	padding: 9px;
	background-color: #fafafa;
}

.single-seat.active {
	border: 3px #ac9 solid;
}

.single-seat span {
	display: block;
	text-align: center;
}

.single-seat .name, .single-seat .action {
	font-weight: bold;
}

.single-seat .action {
	/*display: none;*/

	/*
		jQuery puts display:inline instead of block when display:none is initially set 
		jQuery must start with elements display property set to 'block' for it to work correctly
	*/
}

.seat-0 {
	left: 220px;
	bottom: 0px;
}

.max-players-2 .seat-1, .max-players-6 .seat-3 {
	left: 220px;
	top: 0px;
}

.max-players-6 .seat-1 {
	left: 0px;
	bottom: 60px;
}

.max-players-6 .seat-2 {
	left: 0px;
	top: 60px;
}

.max-players-6 .seat-4 {
	right: 0px;
	top: 60px;
}

.max-players-6 .seat-5 {
	right: 0px;
	bottom: 60px;
}

.replay {
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: 1;
	display: none;
}

.stake {
	position: absolute;
	right: 0px;
	bottom: 0px;
	background-color: #ceb;
}

.stake.blinds {
	background-color: #eeb;
}

.stake.raise {
	background-color: #fcc;
}

.stake.amount-0 {
	display: none;
}

button .amount-0 {
	display: none;
}

#input-container button {
	margin-right: 10px;
}

#slider {
	min-height: 3px;
}
